.dash-header
    %a.status{:href => "/user/logout"}
        Logout
        %i.icon.ion-power
.dash-body
    %p.welcome-header
        Hello,
        = @user.username
        = @user.records[0]
    %a{:href => "/games", :id => "play"} Play
