/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

body{
   /* For browsers that do not support gradients background: #09CB97; */
  background-color: #F9F8F8;
  font-family: 'Dosis', sans-serif;
}
#main.login input[type="radio"] {
  display: none;
}

.center-container {
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.container-login {
  position: absolute;
  height: 50px;
  width: 600px;
}

#ordiv {
  position: absolute;
  left: 270px;
  top: 10px;
  color: #fff;
  font-size: 18px;
}

.container-login label {
  position: relative;
  display: block;
  height: 35px;
  width: 180px;
  float: left;
  background-color: #F4F9FC;
  border-radius: 3px;
  margin: 2px 50px;
  line-height: 35px;
  text-align: center;
  box-shadow: 1px 2px 8px #888888;
  color: #09CB97;
  cursor: pointer;
}

.container-login label:hover {
  box-shadow: 1px 5px 10px #888888;
}

.action-form {
  position: absolute;
  height: 320px;
  width: 600px;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F4F9FC;
  border-radius: 2px;
  box-shadow: 1px 1px 8px #888888;
}

#login-form,
#signup-form {
  position: absolute;
  height: 100%;
  width: 100%;
}

.form-block {
  position: relative;
  height: 100%;
  width: 45%;
  float: left;
}


/** The input box styling **/

.action-form input[type=text],
.action-form input[type=password] {
  height: 30px;
  width: 220px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  color: #4A4A4E;
  padding: 0 5px;
  font-family: 'Dosis', sans-serif;
  background-color: #DCE1E4;
  margin: 10px 0;
}

.action-form label {
  font-size: 14px;
}

.action-form input[type=text]:focus,
.action-form input[type=password]:focus {
  outline: none;
}

.action-form .form-title {
  text-align: center;
  margin-top: 25px;
  font-size: 20px;
  color: #4A4A4E;
}

.action-form .form-title i {
  margin-left: 10px;
}


/** tab logic **/

#cancel-page:checked + .action-form {
  display: none;
}

#login-page:checked + #login-form {
  display: block;
}

#signup-page:checked + #signup-form {
  display: block;
}

.action-form .cancel-label {
  text-decoration: underline;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

#login-form {
  top: 80px;
  display: none;
}

#signup-form {
  top: 20px;
  display: none;
}

.action-form .btn {
  height: 30px;
  width: 230px;
  color: #fff;
  background-color: #09CB97;
  border: none;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  font-family: 'Dosis', sans-serif;
}

.center-left{
  left: 50%;
  transform: translateX(-50%);
}

.btn{
    height: 30px;
    width: 210px;
    background-color: #EDECEE;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
}
.box .btn:hover{
  background-color: #D4D6DC;
}

/** dashboard **/
.dash-header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: #09CB97;
  box-shadow: 1px 1px 10px #888888;
}
.dash-header .status{
  position: absolute;
  width: 100px;
  height: 50px;
  top: 15px;
  cursor: pointer;
  left: calc(100% - 100px);
  text-decoration: none;
  color: #fff;
}
.dash-body{
  position: absolute;
  top:80px;
  left: 0;
  width: 90%;
  height: 100px;
  padding: 20px;
}
.welcome-header{
  color: #000;
  font-size: 30px;
}

/** flash message **/
.alert-box{
  position: absolute;
  height: 40px;
  width:300px;
  font-size: 14px;
  border-radius: 3px;
  background-color: #D46360;
  padding: 1px 10px;
  color: #fff;
  z-index: 99;
  box-shadow: 1px 1px 2px #888888;
}
.alert-box i{
  position: absolute;
  top: 5px;
  left: 300px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

@-webkit-keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }
@-moz-keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }
@keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }

.fade-out {
  opacity:1; 
  -webkit-animation: fadeOut ease-in 1; 
  -moz-animation:fadeOut ease-in 1;
  animation:fadeOut ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  animation-duration:1.5s;
  
}

.fade-out-delay{
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    animation-delay: 5s;
}

#main{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #09CB97;
}

/** game styling goes here **/
#status-box{
  position: absolute;
  top: 100px;
  width: 350px;
  height: 60px;
  background-color: #E6F3F8;
  border-radius: 3px;
  box-shadow: 1px 3px 15px #d8d8d8;
  padding: 10px 20px;
  color: #ABABAA;
}
#status-box i.icon{
  position: absolute;
  font-size: 50px;
  cursor: pointer;
  color: #40D0C8;
  text-shadow: 1px 1px 5px #888888;
}
.bar-box{
  position: absolute;
  top: 28px;
  left: 60px;
  height: 40px;
  width: 300px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.answers-box{
  position: absolute;
  top: 200px;
  width: 400px;
  min-height: 100px;
}
.answer{
  position: relative;
  height: 40px;
  width: 350px;
  margin: 5px 0;
  padding-left: 20px;
}
.answer:nth-child(4){
  margin-bottom: 50px;
}
.answer div{
  position: absolute;
  top: 10px;
  height: 30px;
  width: 30px;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  background-color: #74CEBA;
  color: #fff;
  border-radius: 3px;
}

/**  radio button styling **/
.answer input[type="radio"]{
  visibility: hidden;
}
.answer input[type="radio"] + label {
  position: absolute;
  left: 20px;
  top: 10px;
  height: 28px;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #74CEBA;
  text-indent: 40px;
  font-size: 14px;
  line-height: 28px;
  color: #A0A9B1;
  cursor: pointer; 
}
.answer input[type="radio"]:checked + label {
  color: #1C907F;
}
.answer input[type="radio"]:checked + label::after {
  content: "\f375";
  font-family: "ionicons";
  font-size: 16px;
  text-align: center;
  margin-left: 10px;
}

.songlist{
  position: absolute;
  top: 200px;
  left: 150px;
}
.dash-body a{
  background-color: #09CB97;
  text-decoration: none;
  color: #FFF;
  padding: 10px 25px;
  border-radius: 3px;
}
.game-btn{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1EBBA6; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
button:focus{
  outline: 0;
}
#maingame{
  position: absolute;
  width: 400px;
  height: 500px;
  left: 50%;
  transform: translateX(-50%);
}
.question-box{
  position: absolute;
  height: 50px;
  width: 400px;
  top: 30px;
  left: 10px;
}
.question-box .child{
  position: relative;
  float: left;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  border-radius: 10px;
  margin: 2px 5px;
  color: #40D0C8;
  border: 2px solid #40D0C8;
}
.question-box .child.selected{
  background-color: #40D0C8;
  color: #fff;
}
.alert-box-hidden{
  visibility: hidden;
}
